@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Noto%20Sans:400');
:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #1dda65;
  --secondary: #050315;
  --accent: #d1d1d1;
/*   
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


body {
  font-family: 'Noto Sans';
  line-height: 1.5;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Space Grotesk';
  line-height: 1.5;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


/* 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 

*/
